<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ef184de7-e568-4027-bc00-f376b6e96f44/resourceGroups/NWUTECHTRENDSResourceGroup/providers/Microsoft.Web/sites/APIProject2-dev</ResourceId>
    <ResourceGroup>NWUTECHTRENDSResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/ef184de7-e568-4027-bc00-f376b6e96f44/resourceGroups/NWUTECHTRENDSResourceGroup/providers/Microsoft.ApiManagement/service/Project2api41616715/apis/APIProject2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiproject2-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>55c5b80e-215c-4b13-b1d8-429ac80470c8</ProjectGuid>
    <MSDeployServiceURL>apiproject2-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APIProject2-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$APIProject2-dev</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>